# Este archivo es un ejemplo de cómo configurar secrets en Streamlit Cloud
# NO subir el archivo real secrets.toml a GitHub

[mongodb]
connection_string = "mongodb+srv://usuario:password@cluster.mongodb.net/?tls=true&authMechanism=SCRAM-SHA-256&retrywrites=false"
database = "student_performance"
collection = "students"
